version: '3.9'
 
services:
  reverseproxy:
    container_name: single
    image: nginx:latest
    volumes:
    - ./single.conf:/etc/nginx/conf.d/default.conf
    - ./index.html:/usr/share/nginx/html/index.html
    ports:
    - 8000:8000

volumes:
  data: