version: '3.9'
# https://docs.nginx.com/nginx/admin-guide/security-controls/terminating-ssl-http/
# generation keys cert localhost
# openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout nginx-selfsigned.key -out nginx-selfsigned.crt

services:
  reverseproxy:
    container_name: reverseproxy
    image: alm-nexus-devsecops-docker.myrolex.com/nginx:latest
    volumes:
    - ./reverseproxy.conf:/etc/nginx/conf.d/default.conf
    - ./index.html:/usr/share/nginx/html/index.html
    - ./nginx-selfsigned.crt:/etc/nginx/nginx-selfsigned.crt:ro
    - ./nginx-selfsigned.key:/etc/nginx/nginx-selfsigned.key:ro
    ports:
    - 8443:8443
  nginx:
    container_name: nginx1
    depends_on:
    - reverseproxy
    image: alm-nexus-devsecops-docker.myrolex.com/nginx:latest
    volumes:
    - ./index-nginx-1.html:/usr/share/nginx/html/index.html
    ports:
    - 8080:80
  apache:
    container_name: nginx2
    depends_on:
    - reverseproxy
    image: alm-nexus-devsecops-docker.myrolex.com/nginx:latest
    volumes:
    - ./index-nginx-2.html:/usr/share/nginx/html/index.html
    ports:
    - 8081:80
